
$btn_color: #00e0d0 ;
$p_color: #959399 ; 
$p_size: 0.875rem ; 
$p-font: 'Roboto',sans-serif ;
$h-size: 1.375rem ;
$darkercolor: #413d4b;
$overley:  linear-gradient(90deg, rgba(37,33,104,0.9263225083940485) 0%, rgba(34,34,91,0.8869966656974192) 43%, rgba(61,45,109,0.7549741937873069) 100%);
$overley1: rgb(37,33,104);
$font: 'Playfair Display', serif;

